.vscode
algoTest/src/main/java/com/example/algotest/algo/CircleGreenAndRed.java
algoTest/src/test/java/com/example/algotest/algo/CircleGreenAndRedTest.java
algoTest/src/main/java/com/example/algotest/exam
.idea
